<% content_for(:title, @resource.title) %>

<div id="page"><div
  class="m-resource"
  data-m-id="<%= @resource.id %>"
  data-m-editor="<%= @resource.editor %>"
  data-m-editor-url="<%= @resource.editor_url %>"
><%= @resource.body.html_safe %></div></div>

<footer id="page-footer">
  <div><a href="https://memonite.com/" target="blank">Memonite</a> v<%= Memonite::VERSION %></div>
  <div><a href="https://memonite-info.herokuapp.com/user-guide" target="blank">User Guide</a></div>
</footer>
