<!DOCTYPE html>
<html>
<head>
<title>Memonite</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<%= csrf_meta_tags %>
<%= csp_meta_tag %>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_tag "var authenticityToken = '#{form_authenticity_token}';" if protect_against_forgery? %>
<%= javascript_include_tag '/jquery/jquery-3.3.1.min.js'  %>
<%= javascript_include_tag 'init' %>

</head>

<body>
<%= yield %>
</body>
</html>
