<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title).presence || 'Brahin' %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag    '/main.css', media: 'all' %>
<% if @load_frontend %>
<% fronted_url  = ENV['BRAHIN_FRONTEND_URL'] || 'https://brahin.online/modules' %>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= javascript_tag <<~JS.strip
const BRAHIN_START_TIME = performance.now()
const BRAHIN_VERSION = '#{brahin_version}'
const BRAHIN_FRONTEND_URL = #{JSON.generate(fronted_url)}
JS
%>
<script src="/require.js" data-main="<%= fronted_url %>/brahin-init-v<%= brahin_version %>"></script>
<% end %>
</head>
<body>
<%= yield %>
<footer id="page-footer">
  <div><a href="https://brahin.online/" target="blank">Brahin</a> v<%= brahin_version %></div>
  <div><a href="https://brahin.online/user-guide" target="blank">User Guide</a></div>
</footer>
</body>
</html>
