<!DOCTYPE html>
<html>
<head>
<title><%= yield(:title).presence || 'Memonite' %></title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag    '/main.css', media: 'all' %>
<% if @load_frontend %>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= javascript_tag <<~JS.strip
const MEMONITE_START_TIME = performance.now()
const MEMONITE_VERSION = '#{memonite_version}'
const MEMONITE_PLUGIN_PATH = #{JSON.generate(ENV['PLUGIN_BASE_URL'] || 'https://memonite.com/modules/')}
JS
%>
<script src="/require.js" data-main="/init"></script>
<% end %>
</head>
<body>
<%= yield %>
<footer id="page-footer">
  <div><a href="https://memonite.com/" target="blank">Memonite</a> v<%= memonite_version %></div>
  <div><a href="https://memonite-info.herokuapp.com/user-guide" target="blank">User Guide</a></div>
</footer>
</body>
</html>
